<div class="home-container">
  <nav class="navbar">
    <div class="logo">DevType</div>
    <ul class="nav-links">
      <li *ngIf="!isLoggedIn"><a href="/signup">Sign Up</a></li>
      <li *ngIf="!isLoggedIn"><a href="/signin">Log In</a></li>
      <li *ngIf="isLoggedIn">
        <a (click)="openAccountDetails()" style="cursor: pointer;">Welcome, {{ userFirstName }}!</a>
      </li>
      <button *ngIf="isLoggedIn" (click)="logout()">
        <li>Log Out</li>
      </button>
    </ul>
  </nav>
  
  
  
    <section class="hero">
      <div class="hero-content">
        <h1>Practice Typing with Real Code</h1>
        <p>
          Test your typing speed with code snippets from popular programming languages.
          Level up your typing and coding skills in a fun, gamified environment.
        </p>
        <a href='/game'><button>Start Typing</button></a>
      </div>
    </section>
  
    <section class="features">
      <div class="feature-card">
        <h3>Real Code Snippets</h3>
        <p>Practice typing real code from Python, JavaScript, and more.</p>
      </div>
      <div class="feature-card">
        <h3>Choose Your Language</h3>
        <p>Type in languages you know, or try something new.</p>
      </div>
      <div class="feature-card">
        <h3>Track Your Progress</h3>
        <p>View your typing speed, accuracy, and progress over time.</p>
      </div>
    </section>
  </div>
  